
<div>
    <div class="card  container pt-4">
        <div class="card-header bg-primary text-light ml-0  row ">
            <div class="col-12 col-md-6">
                <h2 class="text-white-50">Name: Daniel Adama</h2>
            </div>
            <div class="col-12 col-md-6 text-end pt-4">
                <span class="badge bg-warning pt-2" style="height:30px;">Skills: Python, Machine Learning</span>
            </div>
        </div>
        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        <div class="col-2 pt-4">
                            <img src="~/img/Screenshot (217).png" width="275" height="320" style="border-radius:5px; border:1px solid #bbb9b9" />
                        </div>
                        </div>
                    </div>
                <div>
                    <h3>Header: Machine Learning Engineer</h3>
                </div>
                <div>
                    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Documentation</th>
                                @*<th scope="col">Progress Bar</th>
                                <th></th>
                                <th></th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/general.js"></script>